* {
  font-family: "Outfit", sans-serif;
}

html {
  margin: 0px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: #141129;
  color: #00c6ff;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.main {
  padding: 0px;
  margin: 0px;
}

.nav-link:hover {
  color: aqua;
}

.navbar-brand,
.nav-link,
.collapse,
.container-fluid,
.bg-body-tertiary {
  background-color: #141129 !important;
  color: white;
}

.navbar-brand {
  font-family: "Midorima - Personal Use Regular";
  font-style: normal;
  font-weight: 100;
}

.navi {
  position: fixed;
  width: 100%;
  z-index: 3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.navbar-custom {
  display: flex;
  height: 70px;
  padding: 16px 80px;
  align-items: center;
  flex-shrink: 0;
  border-bottom-width: 1px;
  border-color: #00c6ff;
  border-bottom-style: dashed;
}

hr {
  border: 1px dashed #00c6ff;
  width: 100%;
  opacity: 0.7;
}

.big {
  font-size: 70px;
  font-family: "against-Regular";
  color: #00c6ff;
  text-align: center;
}

.small {
  font-size: 35px;
  font-family: "against-Regular";
  color: #00c6ff;
  text-align: center;
}

footer {
  background-color: #141129;
  height: 13%;
  text-align: center;
  margin: 20px;
}

.footer {
  color: white;
  padding-top: 20px;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.play {
  width: 100%;
  height: auto;
  margin-top: 5%;
  text-align: center;
  padding: 80px 260px;
}

.play h1 {
  font-size: 60px;
  padding: 30px;
}

.responsive-img {
  width: 100%;
  height: auto;
  padding: 10% 10% 6% 10%;
}

.eclipse {
  position: absolute;
  right: 0%;
  border-top-right-radius: 64px;
  opacity: 0.6;
  height: 80%;
}

.eclipse2 {
  position: absolute;
  left: 0%;
  bottom: 80px;
  height: 80%;
  width: 80%;
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
  opacity: 0.6;
}

.glass {
  background: linear-gradient(
    136deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0.02) 100%
  );
  backdrop-filter: blur(100%);
  border-radius: 64px;
}

.button {
  background-color: #72ac51;
  color: white;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  font-size: 20px;
}

.e {
  right: 79%;
  top: 17%;
}

.g {
  right: 79%;
  top: 38%;
}

.b {
  right: 79%;
  top: 27%;
}

.d {
  right: 79%;
  top: 48%;
}

.a {
  right: 79%;
  top: 59%;
}

.s {
  right: 79%;
  top: 69%;
}

.one {
  right: 76%;
  top: 100%;
  font-size: 40px;
}

.two {
  right: 57%;
  top: 100%;
  font-size: 40px;
}

.three {
  right: 38%;
  top: 100%;
  font-size: 40px;
}

.four {
  right: 19%;
  top: 100%;
  font-size: 40px;
}

.info {
  text-align: center;
  padding: 5% 15% 5% 15%;
  font-size: 20px;
}

.info li {
  padding: 1%;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-top: 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #141129;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content a {
  color: white;
}

.dropdown-content a:hover {
  color: aqua;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* small and medium laptop screens */
@media (min-width: 991px) and (max-width: 1430px) {
  .instrument,
  .col1 {
    height: 200px;
    width: 200px;
  }
  .inst-text {
    width: 200px;
  }

  .logo {
    height: 70px !important;
    width: 70px !important;
  }

  .responsive-img {
    width: 100%;
    height: auto;
    padding-top: 10%;
  }

  .play {
    padding: 20px 30px;
  }
}
/* Large laptop screens */
@media (min-width: 1439px) {
  .responsive-img {
    width: 100%;
    height: auto;
    padding-top: 5%;
  }

  .play {
    margin-top: 5%;
  }
}

/* screens between tablets and laptops */
@media (min-width: 770px) and (max-width: 990px) {
  .eclipse,
  .eclipse2 {
    visibility: hidden;
  }

  .responsive-img {
    width: 100%;
    height: auto;
    padding-top: 5%;
  }

  .play {
    padding: 20px 30px;
  }
}

/* screens below tablets */
@media (max-width: 768px) {
  .logo {
    height: 40px !important;
    width: 40px !important;
  }

  .play {
    padding: 15% 0% 5% 0%;
  }

  .responsive-img {
    width: 100%;
    height: auto;
    padding-top: 5%;
  }

  .eclipse,
  .eclipse2 {
    visibility: hidden;
  }
}

/* For mobile phones */
@media (max-width: 430px) {
  .navbar-brand {
    align-items: right;
    font-size: 20px;
  }

  .logo {
    height: 40px !important;
    width: 40px !important;
  }

  .container-fluid {
    width: 800px;
  }

  .navbar-toggler,
  .navbar-toggler-icon {
    padding: 3px !important;
  }

  .navbar-custom {
    padding: 5px 5px;
  }

  .play {
    padding: 20% 0% 5% 0%;
  }

  .button {
    font-size: 9px;
  }
}
